{% extends "app_instagram/base.html" %} {% block content%}
<h1>Your pictures</h1>
<div class="container">
  {% for pic in pictures %}
  <div class="mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold; font-style: italic;">"{{ pic.description }}"</h5>
        <p class="card-text">
          by <span style="color: blue">{{ pic.additional_description }}</span>
        </p>
        <p class="card-text">
          Tags: {% if pic.tags %} {% for tag in pic.tags %}
          <span
            style="
              background-color: blue;
              color: white;
              padding: 2px 5px;
              margin-right: 5px;
            "
            >{{ tag }}</span
          >{% if not forloop.last %},{% endif %} {% endfor %} {% endif %}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
